.social_icons {
  padding: 10px 0;
}
.social_icons a {
  font-size: 28px;
  margin: 12px 5px;
  color: #c4c2c2;
}

.menu_items a {
  font-size: 14px;
  text-decoration: none;
  color: white;
  text-transform: capitalize;
  margin-left: 10px;
}

.line {
  height: 2px;
  margin: 20px 0;
  background: #c4c2c2;
}
